<h2 class="u-ttb2">无线电应用规范 - 通用频率电平图</h2>
<div class="u-line"><span class="linea"></span><span class="lineb"></span></div>
<dl>
    <dt>频率电平图</dt>
    <dd>
        <p>各频率点电平随时间变化的图表</p>
        <p>以下折线图基于highchart</p>
    </dd>
    <dt>参数配置</dt>
    <dd>
        <pre>
                            <code class="javascript">
    {
		chart : {
			backgroundColor : '#fff',
			margin : [ 20, 50, 5, 0 ],
			animation : false
		},
		credits : {
			enabled : false
		},
		title : {
			text : null
		},
		xAxis : {
			lineWidth : 0,
			minorTickLength : 0,
			plotBands : []
		},
		yAxis : {
			title : {
				text : null
			},
			gridLineColor : '#ddddde',
			labels : {
				style : {
					"fontSize" : "15px",
					"color" : "#7a8282"
				}
			},
			tickPositions : [ -20, 0, 20, 40, 60, 80, 100 ],
			lineWidth : 1,
			lineColor : '#ddddde',
			opposite : true
		},
		legend : {
			enabled : false
		},
		plotOptions : {
			area : {
				fillColor : Highcharts.Color('#0084ff').setOpacity(0.25).get('rgba'),
				zones : [ {
					color : '#0084ff'
				} ],
				marker : {
					radius : 2
				},
				lineWidth : 2,
				states : {
					hover : {
						lineWidth : 2
					}
				},
				threshold : null,
				dataLabels : {
					enabled : false
				}
			}
		},
		tooltip : {
			formatter : function() {
				var s = '&lt;b&gt;频率: ' + this.x + ' MHz&lt;/b&gt;';
				$.each(this.points, function() {
					s += '&lt;br/&gt;' + "电平" + ': ' +
						this.y + 'dBμV';
				});
				return s;
			},
			shared : true
		},
		series : [ {
			type : 'area',
			name : '电平',
			turboThreshold : 4000,
			data : [ [ 4, 0 ], [ 807, 0 ] ]
		} ]
	}
                            </code>
                            </pre>
    </dd>


    <dt>简单样例</dt>
    <div id="fscanChart" style="height: 200px">

    </div>
	<script src="tools/Highcharts-5.0.12/highcharts.js"></script>
    <script src="js/wireless.js"></script>
    <script src="views/wireless/wireless-fscan.js"></script>
</dl>
</div>