<h2 class="u-ttb2">通用业务模块 - 数据拖拽</h2>
<div class="u-line"><span class="linea"></span><span class="lineb"></span></div>
<dl>
    <dt>数据拖拽功能</dt>
    <dd>
        <p>将指定元素拖拽入指定选区内可完成数据传递</p>
        <p>拖拽前后元素的位置不变的数据交互</p>
    </dd>


    <dt>简单样例</dt>
    <div id="src-1" data-n="{data:src-1}" style="width: 100px;height: 100px;background-color: red;"></div>
    <div id="src-2" data-n="{data:src-2}" style="width: 100px;height: 100px;background-color: #5bff70;"></div>
    <div id="des" style="width: 300px;height: 300px;background-color: gray;"></div>
	<dt>调用方式</dt>
	<dd>
		<p>HXcommon.datadraft('#des',['#src-1','#src-2']);</p>
	</dd>
    <script src="views/common/common-datadraft.js"></script>
</dl>
</div>